[Unit]
Description=Pi Clock Server
Wants=network-online.target
After=network-online.target 

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /usr/local/bin/pi-clock-server.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target
